<div>
    <h1>Demo Nonsense Text</h1>
    <p>Here we are in the the Handlebar file</p>
    <h2>My name is {{name}}. </h2>
    <p>To be, or not to be, that is the question:</p>
    <p>Whether 'tis nobler in the mind to suffer</p>
    <p>The slings and arrows of outrageous fortune,</p>
    <p>Or to take Arms against a Sea of troubles,</p>
    <p>and opposing them by becoming a {{profession}}</p>
    <p>and fighting the good fight.</p>

    <table border="2">
        <tr><th>NAME</th><th>PROFESSION</th></tr>
        <tr><td>{{name}}</td><td>{{profession}}</td></tr>
    </table>
        I am a {{occupation}}.
</div>